{% extends "layouts-admin.html" %}
{% load static %} {% block title %}Dashboard{% endblock title %} {% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
  <div class="container-fluid">
    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
      <div>
        <h4 class="mb-0">Hi, Selamat Datang Admin!</h4>
        <p class="mb-0 text-muted">Dashboard PLN Knowledge</p>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- row -->
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden sales-card bg-primary-gradient">
                <div class="px-3 pt-3  pb-2 pt-0">
                    <div >
                        <h6 class="mb-3 fs-12 text-fixed-white">Total Postingan</h6>
                    </div>
                    <div class="pb-0 mt-0">
                        <div class="d-flex">
                            <div >
                                <h4 class="fs-20 fw-bold mb-1 text-fixed-white">xx</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="compositeline"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden sales-card bg-danger-gradient">
                <div class="px-3 pt-3  pb-2 pt-0">
                    <div >
                        <h6 class="mb-3 fs-12 text-fixed-white">Total Taxonomy</h6>
                    </div>
                    <div class="pb-0 mt-0">
                        <div class="d-flex">
                            <div >
                                <h4 class="fs-20 fw-bold mb-1 text-fixed-white">xx</h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id="compositeline2"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden sales-card bg-success-gradient">
                <div class="px-3 pt-3  pb-2 pt-0">
                    <div >
                        <h6 class="mb-3 fs-12 text-fixed-white">Total Kompetensi</h6>
                    </div>
                    <div class="pb-0 mt-0">
                        <div class="d-flex">
                            <div >
                                <h4 class="fs-20 fw-bold mb-1 text-fixed-white">xx</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="compositeline3"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden sales-card bg-warning-gradient">
                <div class="px-3 pt-3  pb-2 pt-0">
                    <div >
                        <h6 class="mb-3 fs-12 text-fixed-white">Total Pengguna</h6>
                    </div>
                    <div class="pb-0 mt-0">
                        <div class="d-flex">
                            <div >
                                <h4 class="fs-20 fw-bold mb-1 text-fixed-white">xx</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="compositeline4"></div>
            </div>
        </div>
        <div class="card mb-4 text-center">
            <div class="card-body h-100">
                <img src="{% static 'images/svgicons/note_taking.svg'%}" alt="" class="w-35">
                <h5 class="mt-3 tx-18">Punya Ide Hari Ini?</h5>
                <a href="#" class="btn btn-primary">Tambah Kompetensi</a>
            </div>
        </div>
    </div>
    <!-- row closed -->
  </div>
</div>
<!-- End::app-content -->
{% endblock content %}
