{% extends "layouts-admin.html" %} {% load static %} {% block title %}Manajemen Jabatan{% endblock title %} {% block csstambah %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css" />

{% endblock csstambah %} {% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
  <div class="container-fluid">
    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    
    </div>
    <!-- End Page Header -->
    <!-- Start:: row-2 -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">Daftar Jabatan</div>
          </div>
          <div class="card-header">
            <div class="card-title">
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahJabatanModal">+ Tambah Jabatan</a>
            </div>
          </div>
          <div class="card-body">
            <table id="responsiveDataTable" class="table table-bordered text-nowrap w-100">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Jabatan</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for jabatan in jabatan_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ jabatan.nama_jabatan }}</td>
                  <td>
                    <a class="btn btn-warning btn-edit" data-bs-toggle="modal" data-bs-target="#editJabatanModal" data-jabatan-id="{{ jabatan.id_jabatan }}" data-nama-jabatan="{{ jabatan.nama_jabatan }}">
                      <i class="bi bi-pencil"></i>
                    </a>

                    <a class="btn btn-danger btn-hapus" data-bs-toggle="modal" data-bs-target="#hapusJabatanModal" data-jabatan-id="{{ jabatan.id_jabatan }}">
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End:: row-2 -->
  </div>
</div>
<!-- End::app-content -->

<!-- Tambah Bidang Modal -->
<div class="modal fade" id="tambahJabatanModal" tabindex="-1" aria-labelledby="tambahJabatanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tambahJabatanModalLabel">Tambah Jabatan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form tambah bidang -->
        <form method="post" action="{% url 'tambah_jabatan' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="namaJabatan" class="form-label">Nama Jabatan:</label>
            <input type="text" class="form-control" id="namaJabatan" name="nama_jabatan" required />
          </div>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Bidang Modal -->
<div class="modal fade" id="editJabatanModal" tabindex="-1" aria-labelledby="editJabatanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editJabatanModalLabel">Edit Jabatan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form edit bidang -->
        <form method="post" id="editJabatanForm" action="{% url 'edit_jabatan' %}">
          {% csrf_token %}
          <input type="hidden" name="jabatan_id" id="jabatanId" />
          <div class="mb-3">
            <label for="editNamaJabatan" class="form-label">Nama Jabatan:</label>
            <input type="text" class="form-control" id="editNamaJabatan" name="nama_jabatan" required />
          </div>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Hapus Bidang Modal -->
<div class="modal fade" id="hapusJabatanModal" tabindex="-1" aria-labelledby="hapusJabatanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hapusJabatanModalLabel">Hapus Jabatan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Anda yakin ingin menghapus jabatan ini?</p>
        <form method="post" id="hapusJabatanForm" action="{% url 'hapus_jabatan' %}">
          {% csrf_token %}
          <input type="hidden" name="jabatan_id" id="hapusJabatanId" />
          <button type="submit" class="btn btn-danger">Hapus</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block jstambah %}

<!-- Datatables Cdn -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<!-- Internal Datatables JS -->
<script src="{% static 'js/datatables.js' %}"></script>
<!-- Script untuk menangani klik tombol edit -->
<script>
  $(document).ready(function () {
    $("#responsiveDataTable").on("click", ".btn-edit", function () {
      var jabatanId = $(this).data("jabatan-id");
      var namaJabatan = $(this).data("nama-jabatan");

      // Mengisi nilai pada form edit
      $("#jabatanId").val(jabatanId);
      $("#editNamaJabatan").val(namaJabatan);

      // Menampilkan modal edit
      $("#editJabatanModal").modal("show");
    });
  });
  $(document).ready(function () {
    $('#responsiveDataTable').on('click', '.btn-hapus', function () {
        var jabatanId = $(this).data('jabatan-id');

        // Mengisi nilai pada form hapus
        $('#hapusJabatanId').val(jabatanId);

        // Menampilkan modal hapus
        $('#hapusJabatanModal').modal('show');
    });
});
</script>
{% endblock jstambah %}
