{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="horizontal" data-nav-style="menu-click" data-menu-position="fixed" data-theme-mode="light">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> PLN Taxonomy - {% block title %}{% endblock title %} </title>
    <meta name="Description" content="">
    <meta name="Author" content="">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/brand-logos/favicon.ico'%}" type="image/x-icon">
    {% block choicejs %}{% endblock choicejs %}

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" >

    <!-- Style Css -->
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="{% static 'css/icons.css'%}" rel="stylesheet" >

    <!-- Node Waves Css -->
    <link href="{% static 'libs/node-waves/waves.min.css'%}" rel="stylesheet" >

    <!-- SwiperJS Css -->
    <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css'%}">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css'%}">
    <link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/themes/nano.min.css'%}">

    <!-- Choices Css -->
    <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css'%}">
    {% block choicecss %}{% endblock choicecss %}



</head>

<body class="landing-body">
    <div class="landing-page-wrapper">
         <!-- app-header -->
        <header class="app-header">
            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <div class="header-content-left">

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <div class="horizontal-logo">
                            <a href="index.html" class="header-logo">
                                <img src="{% static 'images/brand-logos/toggle-logo.png'%}" alt="logo" class="toggle-logo">
                                <img src="{% static 'images/brand-logos/toggle-white.png'%}" alt="logo" class="toggle-white">
                            </a>
                        </div>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link -->
                        <a href="javascript:void(0);" class="sidemenu-toggle header-link" data-bs-toggle="sidebar">
                            <span class="open-toggle">
                                <i class="ri-menu-3-line fs-20"></i>
                            </span>
                        </a>
                        <!-- End::header-link -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-left -->

                <!-- Start::header-content-right -->
                <div class="header-content-right">

                    <!-- Start::header-element -->
                    <div class="header-element align-items-center">
                        <!-- Start::header-link|switcher-icon -->
                        <div class="btn-list d-lg-none d-block">
                            <a href="{% url 'login' %}" class="btn btn-primary-light">
                                Login
                            </a>
                        </div>
                        <!-- End::header-link|switcher-icon -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->

        <!-- Start::app-sidebar -->
        <aside class="app-sidebar sticky" id="sidebar">

            <div class="container p-0">
                <!-- Start::main-sidebar -->
                <div class="main-sidebar">

                    <!-- Start::nav -->
                    <nav class="main-menu-container nav nav-pills sub-open">
                        <div class="landing-logo-container">
                            <div class="horizontal-logo">
                                <a href="index.html" class="header-logo">
                                    <img src="{% static 'images/Logo_PLN.png'%}" alt="logo" class="desktop-logo">
                                    <img src="{% static 'images/Logo_PLN.png'%}" alt="logo" class="desktop-white">
                                </a>
                            </div>
                        </div>
                        <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg></div>
                        <ul class="main-menu">
                            <!-- Start::slide -->
                            <li class="slide">
                                <a class="side-menu__item" href="{% url 'depan' %}">
                                    <span class="side-menu__label">Home</span>
                                </a>
                            </li>
                            <!-- End::slide -->
                            <!-- Start::slide -->
                            <li class="slide">
                                <a href="#features" class="side-menu__item">
                                    <span class="side-menu__label">Sharing Knowledge</span>
                                </a>
                            </li>
                            <!-- End::slide -->
                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <span class="side-menu__label me-2">Bidang</span>
                                    <i class="fe fe-chevron-right side-menu__angle op-8"></i>
                                </a>
                                <ul class="slide-menu child1">
                                  <li class="slide">
                                      <a href="#statistics" class="side-menu__item">Pembangkit</a>
                                  </li>
                                  <li class="slide">
                                      <a href="#statistics" class="side-menu__item">Transmisi</a>
                                  </li>
                                  <li class="slide">
                                      <a href="#statistics" class="side-menu__item">Distribusi</a>
                                  </li>
                                  <li class="slide">
                                      <a href="#statistics" class="side-menu__item">Niaga</a>
                                  </li>
                                    {% comment %} <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Level-2
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                                            </li>
                                            <li class="slide has-sub">
                                                <a href="javascript:void(0);" class="side-menu__item">Level-2-2
                                                    <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                                <ul class="slide-menu child3">
                                                    <li class="slide">
                                                        <a href="javascript:void(0);" class="side-menu__item">Level-2-2-1</a>
                                                    </li>
                                                    <li class="slide has-sub">
                                                        <a href="javascript:void(0);" class="side-menu__item">Level-2-2-2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> {% endcomment %}
                                </ul>
                            </li>
                            <!-- End::slide -->

                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                        <div class="d-lg-flex d-none">
                            <div class="btn-list d-lg-flex d-none mt-lg-2 mt-xl-0 mt-0">
                                <a href="{% url 'login' %}" class="btn btn-wave btn-primary">
                                    Login
                                </a> 
                            </div>
                        </div>
                    </nav>
                    <!-- End::nav -->

                </div>
                <!-- End::main-sidebar -->
            </div>

        </aside>
        <!-- End::app-sidebar -->

        <!-- Start::app-content -->
        <div class="main-content landing-main">

           {% block content %}{% endblock content %}

            <div class="text-center landing-main-footer py-3">
                <span class="text-muted fs-15"> Copyright © <span id="year"></span> <a
                    href="javascript:void(0);" class="text-primary fw-semibold"><u>PLN</u></a>
                </a> All
                rights
                reserved
                </span>
            </div>

        </div>
        <!-- End::app-content -->

    </div>

    <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

    <!-- Popper JS -->
    <script src="{% static 'libs/@popperjs/core/umd/popper.min.js'%}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Color Picker JS -->
    <script src="{% static 'libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>

    <!-- Choices JS -->
    <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

    <!-- Defaultmenu JS -->
    <script src="{% static 'js/defaultmenu.min.js'%}"></script>

    <!-- Internal Landing JS -->
    <script src="{% static 'js/landing.js'%}"></script>

    <!-- Node Waves JS-->
    <script src="{% static 'libs/node-waves/waves.min.js'%}"></script>

    <!-- Sticky JS -->
    <script src="{% static 'js/sticky.js'%}"></script>
    {% block scriptjs %}{% endblock scriptjs %}

</body>

</html>