{% extends "layouts.html" %} {% load static %} {% block title %}Pilih Rekomendasi Kompetensi{% endblock title %} {% block choicejs %}
<!-- Choices JS -->

<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>

{% endblock choicejs %} {% block choicecss %}

<!-- Simplebar Css -->
<link href="{% static 'libs/simplebar/simplebar.min.css'%}" rel="stylesheet" />

<!-- Color Picker Css -->
<link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css'%}" />
<link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/themes/nano.min.css'%}" />
<!-- Choices Css -->
<link rel="stylesheet" href="{%static 'libs/choices.js/public/assets/styles/choices.min.css'%}" /> {% endblock choicecss %} {% block content %}
<div class="container mt-5 pt-5">
  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card custom-card">
        <div class="card-body pb-0">
          <form method="GET" action='{% url "search" %}'>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="pencarian" placeholder="{{pencarian}}" />
              <button class="btn ripple btn-primary" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Start::row-1 -->
      <div class="row">
        {% for k in knowledge %}
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card custom-card">
            <img src="{% static k.url_gambar %}" class="card-img-top" alt="Gambar Unggulan" />
            <div class="card-body">
              <h6 class="card-title fw-semibold">{{k.judul_knowledge}}</h6>
              <a href="{% url 'detail-kompetensi' id=k.id_knowledge %}" class="btn btn-primary">Baca Knowledge</a>
            </div>
            <div class="card-footer">
              <span class="card-text">Tanggal: {{k.created_at}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
  <!--End::row-1 -->
</div>

{% endblock content %} {% block scriptjs %}
<!-- Simplebar JS -->
<script src="{% static 'libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'js/simplebar.js'%}"></script>

<!-- Color Picker JS -->
<script src="{% static 'libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>

<!-- Custom-Switcher JS -->
<script src="{% static 'js/custom-switcher.min.js'%}"></script>

<!-- Prism JS -->
<script src="{% static 'libs/prismjs/prism.js'%}"></script>
<script src="{% static 'js/prism-custom.js'%}"></script>
<!-- Internal Choices JS -->
<script src="{% static 'js/choices.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/custom.js' %}"></script>
{% endblock scriptjs %}
